text#--colorgraph-red {
    color: red;
}

text#--colorgraph-orange {
    color: orange;
}

text#--colorgraph-yellow {
    color: yellow;
}

text#--colorgraph-green {
    color: green;
}

text#--colorgraph-lightblue {
    color: lightblue;
}

text#--colorgraph-blue {
    color: blue;
}

text#--colorgraph-purple {
    color: purple;
}

text#--colorgraph-gray {
    color: gray;
}

text#--colorgraph-gold {
    color: gold;
}

text#--colorgraph-white {
    color: white;
}

text#--colorgraph-black {
    color: black;
}
